<img width="10%"  src="./assets/logo.jpg">
<br>
<div class="example-button-row">
  <button mat-button color="primary" (click)="showModal()">Crear</button>
  </div>
  <br>
<h2>Consulta de Instancias Activas de Proceso</h2>
<div class="d-flex">
  <div class="p-2">
    <fieldset legend="Instancias">
      <div class="d-flex flex.row mb-3">
        <div class="p-2">
          <!-- <table [columns]="columnsTable" [value]="dataTable"></table> -->          
          <table mat-table [dataSource]="datosI" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsI">
              <th mat-header-cell *matHeaderCellDef> {{column}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columnsToDisplayI"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayI;"></tr>
          </table>
        </div>
      </div>
    </fieldset>
  </div>
</div>
